/* variables */

:root{
	--white: #fbf8f0;
	--blue: #dddeff;
	--brown: #ae5418;
	--red: #c94506;
	--black: #2a2b30;
}
#brownsection{
    background-color: var(--brown);
    padding: 20px;
    color: var(--white);
    margin: 10px;
    border-radius: 15px;
}
#brownsection h2{
    color: var(--white);
}
#brownsection #ukhlogo{
    height: 150px;
}
.icongrid{
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.icongrid div img{
    height: 70px;
}
.icongrid div a{
    font-weight: lighter;
    text-decoration: underline;
    color: var(--red);
}
.historie-image{
    width: 95%;
    border-radius: 15px;
}
.yeartitel{
    padding: 20px 0 0 0;
}
#ansatte h2{
    padding-top: 40px;
}
.ansat{
    padding-top: 30px;
    background-image: url(/images/pinkbackground.png);
    background-size: cover;
    margin: 10px;
    border-radius: 15px;
    padding: 30px;
}
.ansat img{
    height: 200px;
}
.ansat a{
    font-weight: lighter;
    text-decoration: underline;

}
.ansatkontakt{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.ansatkontakt p{
    padding: 10px;
}
.ansatkontakt img{
    height: 30px;
}
.parkering img{
    width: 100%;
}
@media screen and (min-width: 769px){
    .historie-image{
        width: 50%;
        border-radius: 15px;
    }
#brownsection{
    background-color: var(--brown);
    padding: 20px;
    color: var(--white);
    margin: 0 auto;
    border-radius: 15px;
    width: 50%;
}
.icongrid{
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(6,1fr);
}
#icon-1{
    grid-column: 3/4;
}
#icon-3{
    grid-column: 3/4;
}
#icon-5{
    grid-column: 3/4;
}
}